{%- assign default_paths = site.html_pages | map: 'path' -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  {%- include woad7ox.html -%}
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li>
          <a href="{{ my_page.url | relative_url }}"{% if page.url == my_page.url %} aria-current="page"{% endif %}>{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
      <li class="ctl"><button type="button" id="scheme-btn" aria-label="cycle color scheme">basic</button></li>
      <li class="ctl"><button type="button" id="mode-btn" aria-label="toggle dark or light mode">dark</button></li>
    </ul>
  </div>
</header>
